#detail
{
	font-family: "Arial";
	font-size: 11px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #000000;
}
#detail th
{
	font-size: 11px;
	font-weight: normal;
	padding: 5px 5px;
	color: #039;
}
#detail td
{
	padding: 5px 5px;
	color: #669;
	border-top: 1px solid #000000;
}
.oce-first
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#detail tr:hover td
{
	color: #339;
	background: #eff2ff;
}

#sort_hide_top{
	background: url(../images/sort_show_top.png) no-repeat;
	height:9px;


}
#sort_hide_mid{
	background: url(../images/sort_show_mid.png) repeat-y;
	 height:auto;

}
#sort_hide_botom{
	background: url(../images/sort_show_botom.png) no-repeat;
	height:8px;
}

#form_style{
/*width:250px;*/
padding-top:2px;
padding-left:15px;
}
#form_style label{
display: block;
float: left;
width: 150px;
height: 25px;
/*
*/
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -2px 0 2px 0;
text-transform: uppercase;
}
#form_style label1{
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -2px 0 2px 0;
text-transform: uppercase;
color: #039;
}
#form_style select {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
height: 30px;
margin:10px;
/*width: 220px;*/
width: auto;
padding:5px;
outline: none;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
}

#form_style input[type=text] {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
height: 10px;
margin:10px;
/*width: 220px;*/
width: auto;
padding:5px;
outline: none;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
}

.io-hand{

	cursor:pointer;
}
