.k-tabstrip ul li.k-item{
	
   width: 120px;
}

label {
	display: inline-block;
	width: 90px;
	text-align: left;
}

br{
	display: block;
		margin: 3px 0;
}

.grid_button{

	width: 30px;
}

.k-textbox.textbox-medium {
	width: 200px !important;
}

.k-widget.k-combobox {
	width: 220px;
}

.check{

	cursor: pointer;
}
	

