table{

	border-collapse:collapse;
	border-radius:10px;
}

td{

	padding:3px;
}

.k-textbox.textbox-medium {

	width: 200px !important;
}

.right-column{

	padding-left: 50px;
}

.border-full{

	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.k-header .k-shadow{
	
	position: absolute;
	margin-top:-6px;
}